@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #590059;
    --foreground: #acac0f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-size: 10px;
    @media screen(lg) {
      font-size: 15px;
    }
    @media screen(2xl) {
      font-size: 20px;
    }
  }
}

.bg-crystal-full {
  background-image: url('../assets/crystal.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
